body{
   background-color: #181818;
}
.component {
  display: flex;
  flex-direction: column;


}

.item1{
  background-color: #f93f23;
 position: fixed;
 top: 0;
 width: 100%;
  
}
.item1 a {
  color: #fff;
}


.recipesList{
  padding-top: 2.5%;
}
.filter *{
 text-align: left;
 color: #fff
}
.helper{
  width: 100%;
  height: 200px;
background: #181818;  
}

